html{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
}

/*intestazione*/


.barra-principale{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 35px;
    margin-left: 35px;
}

.contenitore-icone{
    display: flex;
    height: 5vh;
    align-items: center;
}
.contenitore-icone a{
    text-decoration: none;
    color: black;
}
.icone{
    display: flex;
    align-items: center;
}

.icone i{
    margin: 0.8em;
    font-size: 20px;
    opacity: 0.5;
}

.img-logo{
    width: 35vh;
}

.contenitore-icone div:nth-child(2){
    border: 1px solid rgb(7, 7, 7, 0.6);
    border-radius: 20px;
    background-color: white;
    margin-right: 15px;
    padding: 0.5em;
    opacity: 0.5;
}
.contenitore-icone div:nth-child(3){
    border: 1px rgba(7, 7, 7, 0.6);
    border-radius: 50%;
    background-color: white;
    width: 20px;
    height: auto;
    color: white;
    padding: 0.5em;
    text-align: center;
}

/*corpo principale*/

#main{
    background: rgb(214,211,211);
    background: linear-gradient(180deg, rgba(214,211,211,0.5116421568627452) 0%, rgba(193,193,193,0.055059523809523836) 3%, rgba(0,0,0,0) 100%);
    display: flex;
}

/*corpo del blocco di sinistra della pagina*/
#blocco-1{
    width: 80%;
}

.link-nav{
    margin-top: 40px;
    margin-left: 70px;
}

.link-nav a{
    text-decoration: none;
    margin-left: 15px;
    color: black;
    opacity: 0.7;
}

.b-1{
    margin-right: 80px;
    margin-left: 70px;
    opacity: 0.4;
}

.contenitore-pagine{
   /* background-color: goldenrod;*/
    width: auto;
    height: 300px;
    display: flex;
    align-items: center;
    /*border: 2px solid rgb(131, 96, 211);*/
    padding: 0;
    }

.testo-principale h2 a{
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}


.testo-principale a:nth-child(2){
    opacity: 0.7;
    text-decoration: none;
    color: black;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.testata-pagine{
    /*border: 2px solid black;*/
    width: 70%;
    margin-left: 70px;
}

.intestazione{
    display: flex;
    align-items: center;
    font-size: 15px;
}
.icona-img{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.img-blocco1 img{
   width: 300px;
   height: 200px;
   /*background-color: blue;*/
   margin-left: 20px;
   margin-right: 80px;
   object-fit: cover;
}

.sotto-paragrafo{
    /*border: solid 1px rgba(7, 7, 7, 0.6);*/
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.s-p span{
    width: 10px;
    height: 10px;
    background-color:#c2c2c288;
    border-radius: 20px;
    padding: 5px;
    opacity: 0.8;
}

.s-p p{
    opacity: 0.6;
}

.s-i{
    display: flex;
}

.s-i span{
    margin-right: 15px;
    font-size: 25px;
}


/*corpo del blocco di destra della pagina*/
#blocco-2{
    /*background-color: red;*/
   border-left: 2px solid rgba(214, 211, 211, 0.5);
    box-sizing: inherit;
}

#fisso{
    position: -webkit-sticky;
    position: sticky;
    height: 10px;
    top: -85%;
}

.contenitore-connettivita{
    /*background-color: blue;*/
    margin-top: 30px;
}

.img-ld{
    width: 45px;
}

.loghi-destra{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loghi-destra i{
    padding: 5px;
    font-size: 25px;
}

.c-p button:nth-child(2){
    background-color: white;
    padding: 15px;
    width: 35%;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    }

.c-p {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin: 5%;
}

.c-p p:nth-child(1){
    font-size: 20px;
    text-align: center;
    word-wrap: break-word;
    width: 70%;
    }


.link-contenitore p{
    display: inline-block;
    margin-left: 15%;
    font-size: 20px;
    margin-bottom: 5%;
}

.hr-b2{
    margin-top: 40px;
    margin-bottom: 30px;
    width: 70%;
    opacity: 0.4;
}

.link-consigliati{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin-left: 15%;
}
.link-consigliati a{
    text-decoration: none;
    color: black;
}

.link-consigliati span{
    border: 2px solid blacks;
    background-color: rgb(230, 230, 230);
    width: auto;
    padding: 10px;
    border-radius: 20px;
    margin: 5px;
    font-size: 17px;
}

.contenitore-follower{
    margin-top: 10%;
}

.contenitore-follower p{
    margin-left: 15%;
    font-size: 20px;
}

.follower{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    /*background-color: green;*/
}


.blocco-follow img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    object-fit:cover;
}
.nome-follow{
    display: flex;
    align-items: center;
    /*background-color: brown;*/
}

.professione{
   display: flex;
   flex-direction: column;
   width: 70%;
}


.professione span:nth-child(1){
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
}
.professione span:nth-child(2){
    margin-top: 5px;
    font-size: 14px;
    opacity: 0.7;
    text-align: left;
    margin-left: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;

}
.follow-button{
    /*background-color: rgb(0, 255, 30);*/
    width: 10%;
    margin-bottom: 10%;
}

.follow-button button{
    background-color: white;
    padding: 13px;
    border-radius: 30px;
    font-size: 15px;
    text-align: center;
    opacity: 0.7;
}


.salvataggi{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.salvataggi h2 a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.contenitore-salvataggi p{
    margin-left: 15%;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 10%;
}

.titolo-intestazione span{
    opacity: 0.7;
}

.interazione{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.interazione span{
    margin-top: 3%;
}

.interazione a{
    color: rgb(5, 190, 5);
}

.aiuti-sito{
    margin-left: 5%;
    margin-top: 10%;
    margin-right: 20%;
}
.aiuti-sito ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.aiuti-sito a{
    text-decoration: none;
    color: black;
    opacity: 0.7;
}

ul li{
    padding: 10px;
    opacity: 0.7;
}